@media screen and (min-width: 670px) {
   
    .login{
        display: block!important;
    }
    #dis1{
        display: block;
    }
    .cart{
        display:block !important;
    }
}
@media screen and (min-width: 860px) {

        .searchcontainer {
            width: 450px;
        }
}
