*{
    transition: 0.5s;
    
}
body{
    background: #F1F1F1;
    scroll-behavior: smooth;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    
}
.topnavigator{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    max-width: 2560px;
    height: 70px;
    left: 0;
    top: 0;
    margin: 0;
    z-index: 1;
    background: rgba(129, 189, 0, 0.62);
    border: none;
    box-sizing: border-box;
}
.topnavigator a{
    color: #FFFFFF;
    text-decoration: none;
}
.logo{
    margin: 18px;
    max-width: 26%;
}
.search{
    margin: auto;
    width: 100%;
    max-width: 25%;
    height: 30px;
    background: #FCFCFC;
    font-family: sans-serif;
    font-size: medium;
    border: none;
    outline: none;
}
.rtside{
    margin-top: 15px;
    margin-right: 15px;
}
.cart{
    float: right;
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    letter-spacing: 01px;
    font-weight: 300;
    font-size:  x-large;
}
.login{
    float: right;
    color: #ffffff;
    border-radius: 25px;
    font-family: "Trebuchet MS";
    letter-spacing: 01px;
    font-weight: 300;
    font-size: x-large;
}
.slide{
    display: flex;
    align-content: center;
    position: relative;
    top: 100px;
    width: 2560px;
    max-width: 100%;

}

.productcontainer{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top: 240px;
    width: 2560px;
    left: 0;
    height: auto;
    max-width: 100%;
}
.productcontainer.other{
    position: relative;
    top: 400px;
}

.product{
    float: left;
    margin: 20px;
    display: flex;
    justify-content: center;
    width: 375px;
    max-width: 100%;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
}
.productholder{
    position: relative;
     display: flex;
    justify-content: center;
   width: 350px;
   height: 260px;
   margin-top: 20px;
}
.product1{
    display: flex;
    justify-content: center;
    width: 400px;
    flex-wrap: wrap;
    max-width: 100%;
    z-index: 0;

}
.quickview{
    display: flex;
    justify-content: center;
    position: absolute;

}

 .quickviewcontent{  
       display: none;
       justify-content: center;
       position: absolute;
       width: 450px;
       max-width: 100%;
       margin-top: 2px;
       background: rgb(37 37 37 / 79%);
       font-family: sans-serif;
       font-size: large;
       letter-spacing: 02px;
       text-align: center;
       color: #ffffff;
       top: 201px;
 }

 .quickview:hover .quickviewcontent{

    display: flex;
    justify-content: center;

}
.productname{
    position: absolute;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: normal;
    font-size: x-large;
    color: #7A7A7A;
    top: 280px;
}
.productprice{
    position: absolute;
    font-family: 'Overpass';
    font-style: normal;
    font-weight:bold;
    font-size: xx-large;
    color: #7A7A7A;
    top: 320px;

}
.offer{
    
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 300px;
 
}
.footer{
    position: relative;
    width: 2560px;
    max-width: 100%;
    height: 395px;
    left: 0px;
    top: 500px;
    background: rgba(129, 189, 0, 0.62);
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
}
