*{
    transition: 0.5s;
    user-select: none;
   
    
}
body{
    background: #f1f3f6;
    scroll-behavior: smooth;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    
}
.topnavigator{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    max-width: 2560px;

    padding-top: 15px;
    left: 0;
    top: 0;
    margin: 0;
    z-index: 1;
    background: rgb(129 189 0);
    border: none;
    box-sizing: border-box;
}
.topnavigator a{
    color: #FFFFFF;
    text-decoration: none;
}
.logo{
    margin: 18px;
}
.search{
    margin: auto;
    width: 100%;
    padding: 15px;
    max-width: 25%;
    border-radius: 05px;
    background: #FCFCFC;
    font-family: sans-serif;
    font-size: medium;
    border: none;
    outline: none;
}
.rtside{
    margin-top: 15px;
    margin-right: 15px;
}
.cart{
    float: right;
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    letter-spacing: 01px;
    font-weight: 300;
    font-size:  x-large;
}
.login{
    float: right;
    color: #ffffff;
    border-radius: 25px;
    font-family: "Trebuchet MS";
    letter-spacing: 01px;
    font-weight: 300;
    font-size: x-large;
}
.slide{
    display: flex;
    align-content: center;
    position: relative;
    top: 100px;
    width: 2560px;
    max-width: 100%;

}

.productcontainer{
    display: flex;
    justify-content: center;
    position: relative;
    top: 240px;
    width: 100%;
    left: 0;
    padding: 05px;
    height: auto;
    background: #FFFFFF;
    border: 0.1px solid rgba(160, 160, 160, 0.253) ;
    
    max-width: 2560px;
}
.productcontainer.other{
    position: relative;
    top: 400px;
}

.pbody{
    margin: 10px;
    justify-content: center;
    background: #ffffff;
    border-radius: 1px;
    box-shadow: 0px 4px 4px rgb(196 196 196 / 62%);
    
    
    
}
.pbody:hover{
    box-shadow: 0px 4px 4px white;
   
    border: none;
}
.product{    
    display: flex;
    justify-content: center;
    max-width: 100%;
    left: 127px;
    padding: 10px;
    top: 128px;
    background: #ffffff;


}
.product img{
    max-width: 100%;
    margin: auto;
    max-height: 100%;
    opacity:90%;
}
.product img:hover {
transform: scale(1.05); 
opacity:100%;
}
.quickviewcontent{  
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 590px;
    padding: 1px;
    font-family: sans-serif;
    font-size: larger;
    background: rgb(255, 160, 17);
    letter-spacing: 02px;
    text-align: center;
    color: #ffffff;
    
 }
 .quickviewcontent:hover{
     background: rgb(255, 91, 41);
     transform: scale(0.97);
 }

.productdetails{
    display: grid;
    justify-content: center;
    max-width: 100%;
    padding: 10px;
    margin: auto;
    background: #ffffff;
}


.productname{
    display: flex;
    justify-content: center;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: normal;
    font-size: x-large;
    color: #7A7A7A;
   bottom: 0;
}
.productprice{
    display: flex;
    justify-content: center;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 500;
    font-size: xx-large;
    color: #379000;
    bottom: 0;

}
.mobidiv{
    display: none;
    
}
.offer{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 300px;
 
}
.offer img{position: relative; width: 100%; max-width: 600px; margin: 20px; 

}
.footer{
    display: flex;
    user-select: none;
   
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 2560px;
    max-width: 100%;
    padding-bottom: 5%;
    left: 0px;
    top: 500px;
    background: rgba(129, 189, 0, 0.62);
    box-sizing: border-box;
} 
.flexifoot{
    display: grid;
    font-family: 'Overpass';
    padding: 15px;
    color: white;
    margin: auto;
    text-align: center;
    font-size: x-large;
}
.flexifoot a{
    text-decoration: none;
    color: white;
    margin: 15px;
}
